/* ----------------------
text fonts
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* ----------------------
root varebls 
------------------------ */
:root {
  --white: #FFFFFF;
  --blue: #57B8FF;
  --orange: #FDD04A;
  --bg-black-88: rgba(0, 0, 0, 0.88);
  --bg-icon-black-grey: #383D45;
  --bg-white-35: rgba(255, 255, 255, 0.35);
  --bg-white-30: rgba(255, 255, 255, 0.3);
  --bg-white-15: rgba(255, 255, 255, 0.15);
  --bg-black-grey: #2A313C;
  --bg-white-grey: #E5E5E5;
  --tx-black: #222730;
  --tx-55: #555555;
  --tx-grey: #999999;
  --tx-grey-y: #80858F;
  --tx-white-80: rgba(223, 223, 223, 0.8);
}

/*--------------------
global style
 -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-style: normal;

}

h1 {
  font-size: 72px;
  line-height: 82px;
}

h2 {
  font-size: 64px;
  line-height: 74px;
}

h3 {
  font-size: 48px;
  line-height: 58px;
}

h4 {
  font-size: 48px;
  line-height: 58px;
}

h5 {
  font-size: 32px;
  line-height: 42px;
}

p {
  font-size: 20px;
  line-height: 32px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
body {
  background-color:var(--bg-black-88);
  width: 100%;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 21px 34px;
  font-size: 18px;
  line-height: 28px;
}
header{
  position: relative;
  padding: 0 0 200px 0;
}
.fire-esports {
  display: flex;
  align-items: center;
  margin-top: 100px;
}
.esports {
  color: var(--blue);
  font-size: 16px;
  line-height: 16px;
}
nav{
  align-items: center;
}
.blue-div{
  background-color:rgb(0, 191, 255);
  width: 634px;
  height: 1000px;
  position: absolute;
  right: 0px;
  z-index: -1;
  top: 0px;
}
.nav-href a{
  color: var(--white);
}
.navbar-ahref:hover{
  color:var(--orange)
}
 .nav-href ul{
  display: flex;
  justify-content: space-between;
  width: 550px;
 }
.all-nav-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.nav-btn{
  background-color: transparent;
  border: 1px solid var(--white);
  margin: 0 0 0 40px;
}
.olov-png-nav{
  width: 32px;
  height: 32px;
}
.esports{
  margin: 10px;
}
.fire-img{
  margin-left: 35px;
}
.fire-h1{
  width: 656px;
  height: 258px;
}
.fire-p{
  color:var(--tx-grey);
  margin-top: 45px;
  width: 700px;
  margin-left: 35px;
}
.fire-h1{
  color:var(--white);
  margin-left: 35px;
  position: relative
}
.icon{
  transform: rotate(-90deg);
  transform: translate(-50% 50%);
  position: absolute;
  left: 100px;
  display: flex;
}
.fire-text-img{
  position: absolute;
  left: 250px;
  top: 510px;
}
.fire-btn{
  margin-top: 53px;
  margin-left: 20px;
}
.fire-href-1{
  border: 1px solid var(--white);
  background-color: transparent ;
}
.jangchi-img{
  position: absolute;
  right: 60px;
  top: 300px;
}
.fire-a{
  margin: 10px;
}
.homiylar{
  position: relative;  
  background-color: var(--orange);
  text-align: center;
  padding: 130px 0;
}

.homiy-p{
  width: 700px;
  margin: 40px auto ;
}
.homiy-imglar{
  width: 193px;
  height: 89px;
}

.homiy-imglari{
  display: flex;
  justify-content: space-between;

}
.icon{
  position: absolute;
  left: -130px;
  top: 500px;
}
.icon-href{
  margin: 0 0 0 15px;
  color: var(--tx-grey-y);
}

/* akmal tugadi  */
/* abror boshladi */
.section-1 {
  padding: 100px 0;
  background-image: url('../img/abror-1-bg.png');   
  background-repeat: no-repeat;
  background-size:cover ;
}

.fire-1 {
  justify-content: center;
}

.f-12 {
  text-align: center;
  color: var(--white);
}

.f-12__p {
  opacity: 0.5;
  margin: 38px 0;
}

.p-sect-1 {
  padding-left: 50px;
  color: var( --tx-white-80);
  font-size: 18px;
  padding-top: 18px;
}

.h5-1 {
  font-size: 32px;
  color: var(--white);
  padding-left: 15px;
}

.box4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box4-4 {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  padding: 10px;
  width: 586px;
  margin: 16px;
}

.section-2 {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
}

.sec-1 {
  margin-top: 170px;
  width: 50%;
}

.sec-2 {
  margin-top: 130px;
  width: 50%;
}
.sec__imgs {
  width: 500px;
  height: 600px;
  position: relative;
  padding: 0 20px;
}
.gamer {
  width: 100%;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-1 {
  margin-top: 100px;
}

.section-3 {
  background: #2A313C;
  color: var(--white);
}
.section-3__wrapper {
  display: flex;
}

.sec-3 {
  width: 50%;
}

.sec-4 {
  width: 50%;
}

.fire-2 {
  margin-bottom: 22px;
}

.h2-1 {
  margin-bottom: 40px;
}

.img3>img {
  margin: 0 5px;
}

.img3 {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.box-img {
  width: 44px;
  height: 44px;
  background-color: var(--blue);
  position: absolute;
  top: 50%;
  transform: translate(50%,-50%);
}

.img3-d {
  left: 4%;
}

.img3-d2 {
  right: 11%;
  
}
.img3-img-active{
box-shadow: 0px 0px 0px 10px rgba(222, 222, 222, 0.459);
border-radius:20px;
}
/* sarvar ishlab boshladi shu joydan */

.btn:hover {
  border: 1px solid rgb(255, 253, 253);
  background: rgb(31, 31, 31);
  transition: 1s;
}

.fire-esports {
  display: flex;
  align-items: center;
}

.esports {
  color: var(--blue);
  font-size: 16px;
  line-height: 16px;
}

.imgs {
  display: flex;
  width: 400px;
  height: 732px;
}

.iconone {
  height: 128px;
  width: 128px;
  position: relative;
  left: 50px;
  bottom: 450px;
}

.icontwo {
  height: 128px;
  width: 128px;
  position: relative;
  left: 650px;
  bottom: 470px;
}

.iconthree {
  text-align: center;
  height: 128px;
  width: 128px;
  position: relative;
  left: 800px;
  bottom: 450px;
}

.text1 {
  

  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
}

.text2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
}

.text3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;

  color: #FFFFFF;
}

.fire {
  display: flex;
  color: var(--blue);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 50px;
  margin-bottom: 50px
}

.title {
  color: #FFFFFF;
  margin: 50px;
  margin-top: 50px
}

.photos {
  display: flex;
  margin: 30px;
  color: var(--white);
  padding: 50px 0;
}
.phots__h4 {
  font-size: 32px;
}
.photos p {
  color: var(--blue);
}
.photos h5 {
  font-size: 20px;
}
.series1 {
  margin-left: 20px;
}

.series2 {
  margin-bottom: 700px;
  margin-left: 20px;
}

.right {
  display: flex;
  height: 100%;
}

.yellow {
  width: 1349px;
  height: 683px;
  background: no-repeat, url(/img/bg-yellow.png);
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  position: relative;
  bottom: 670px;

  text-align: center;

  color: #141820;
}

.inyellow {
  position: relative;
  top: 100px;


}

input {
  position: relative;
  top: 200px;
  right: 80px;
}

.chizziq {
  position: relative;
  top: 50px;
  left: 100px;
}

.inp {
  color: var(--tx-black);
  text-align: center;
  width: 846px;
  height: 56px;
  position: relative;
  top: 100px;
  left: 280px;
  font-size: 18px;
}

.inputbtn {
  position: relative;
  top: 98px;
  right: 290px;
  background-color: var(--blue);
  padding: 26px 26px;
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  margin-left: 1050px;
}
/* hover */

.btn:hover {
  border: 1px solid rgb(255, 255, 255);
  background: rgb(31, 31, 31);
  transition: 1s;
}

.inputbtn:hover {
  border: 1px solid rgb(255, 253, 253);
  background: rgb(31, 31, 31);
  transition: 1s;
}

/* media  */
@media (max-width:1200px) {
  
}